.parent-input-form {
  background-color: black;
  padding: 1rem;
}

.form-header-container {
  text-align: right;
  margin-right: 1rem;
  color: white;
}

.contact-input-form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .input,
  .input:focus,
  .input:active {
    color: white;
    background-color: black;
    padding: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid white 1px;
    outline-style: none;
    outline-width: 0;
  }

  .required-input {
    color: white;
    background-color: black;
    padding: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    outline-style: none;
    outline-width: 0;
    border-bottom: solid red 1px;
  }
  .submit-button-container {
    padding: 1rem;
    width: 10rem;
    border-radius: 0.3rem;
    border: none;
    align-self: center;
  }
  ::placeholder {
    color: gray;
  }
}
