.nav-container {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.531);
  .logo-hamburger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    h2 {
      font-size: 1rem;
    }
    .mobile-container {
      button {
        border: none;
        background: none;
        cursor: pointer;
        img {
          width: 1.5rem;
        }
      }
    }
  }
  .mobile-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    position: absolute;
    top: 5rem;
    .mobile-nav {
      display: grid;
      gap: 3rem;
      width: 90%;
      justify-content: center;
      align-items: center;
      background-color: gray;
      padding: 2rem;
      border-radius: 1rem;
      a {
        list-style: none;
        text-align: center;
        text-decoration: none;
        color: white;
      }
    }
  }
}
